* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Roboto, sans-serif;
}

.promo {
  min-height: 800px;
  background: url("../img/bg/head_bg.jpg") center center/cover no-repeat;
  padding: 39px 0 62px 0;
}

.conteiner {
  text-align: center;
  width: 1140px;
  margin: 0 auto;
}

.logo .logo_text {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.title {
  margin-top: 53px;
  color: #f9bf3b;
  font-size: 41px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 45px;
}

.simple {
  margin-top: 21px;
  color: #ffffff;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 45px;
}

.correctly {
  margin-top: 30px;
  color: #f9bf3b;
  font-size: 41px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 45px;
}

.text_header {
  width: 1114px;
  margin: 0 auto;
  margin-top: 23px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 300;
  line-height: 28px;
}

.text_header span {
  color: #f9bf3b;
  font-weight: 700;
}

.btn_header {
  margin-top: 73px;
  width: 313px;
  height: 72px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
  border: 4px solid rgba(0, 0, 0, 0.23);
  background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.more_intensiv {
  margin-top: 73px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
}

.icon_header {
  margin-top: 13px;
}

.webinar {
  min-height: 604px;
  background-color: #efefef;
  padding: 85px 0 75px 0;
}

.title_webinar {
  color: #252525;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.line_webinar {
  margin: 0 auto;
  width: 217px;
  height: 4px;
  background-color: #f9bf3b;
  margin-top: 18px;
}

.webinar_text {
  color: #4a4a4a;
  font-size: 23px;
  font-weight: 400;
  margin-top: 17px;
}

.webinar_items {
  display: flex;
  margin: 0 auto;
  margin-top: 45px;
  justify-content: space-between;
}

.webinar_descr {
  color: #4a4a4a;
  font-size: 15px;
  font-weight: 300;
  margin-top: 33px;
}

.item {
  width: 340px;
}

.information .conteiner {
  position: relative;
  min-height: 550px;
  padding: 48px 0 107px 0;
}

.information_img {
  position: absolute;
  left: -240px;
  z-index: -1;
}

.information_header {
  margin-left: 389px;
  margin-top: 54px;
  color: #299cbd;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

.information_text {
  margin-left: 389px;
  margin-top: 25px;
  text-align: left;
  color: #4a4a4a;
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
}

.information_text p {
  margin-bottom: 10px;
}

.skill {
  min-height: 447px;
  padding: 86px 0 79px 0;
  background: url("../img/bg/main_bg.jpg") center center/cover no-repeat;
}

.skill .header_skill {
  color: #efefef;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.skill .line_skill {
  margin: 0 auto;
  width: 217px;
  height: 4px;
  background-color: #f9bf3b;
  margin-top: 23px;
}

.skill .flexbox_skill {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}

.flexbox_skill_item {
  width: 204px;
}

.skill .flexbox_skill .item_img {
  width: 115px;
  height: 115px;
  background-color: #b4e2ff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.skill .flexbox_skill .deskr_skill {
  hyphens: auto;
  color: #efefef;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  margin-top: 25px;
}

.gift {
  height: 628px;
  background-color: #efefef;
  padding: 86px 0 116px 0;
}

.gift .gift_text {
  margin-top: 42px;
  color: #252525;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  line-height: 43px;
}

.gift .gift_btn {
  margin: 0 auto;
  margin-top: 52px;
  width: 313px;
  height: 72px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
  border: 4px solid rgba(0, 0, 0, 0.11);
  background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.first {
  min-height: 515px;
  padding: 89px 0 64px 0;
}

.header_first {
  margin-top: 37px;
  color: #252525;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.time_first {
  margin-top: 30px;
  color: #299cbd;
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
}

.descr_first {
  margin-top: 25px;
  color: #4a4a4a;
  font-size: 23px;
  font-weight: 400;
  line-height: 20px;
}

.footer {
  padding: 61px 0 69px 0;
  min-height: 166px;
  background-color: #1a1a1a;
}

.info_footer {
  width: 377px;
  margin: 0 auto;
}

.info_footer a,
.info_footer span {
  color: #888888;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  text-decoration: underline;
}
